.modal {
  background-color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px;
  z-index: 1000;
  width: 20%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.header {
  display: flex;
  justify-content: flex-end;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.footer {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.okBtn {
  margin-right: 0.5rem;
}

.close {
    border: 0;
}

.nameContact {
    margin-right: 0.5rem;
}

.nameInput {
    flex: 1;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: #eee;
}